<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Customer Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer_signup.css' %}">
</head>
<body>
    <div class="personalcustomer">
        <h1>Customer Signup</h1>

        <form method="POST" action="{% url 'customer_signup' %}">
            {% csrf_token %}
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="number">Phone Number:</label>
                <input type="text" id="number" name="number" required>
            </div>
            <div>
                <label for="street">Street:</label>
                <input type="text" id="street" name="street" required>
            </div>
            <div>
                <label for="house">House No:</label>
                <input type="text" id="house" name="house" required>
            </div>
            <div>
                <label for="city">City:</label>
                <input type="text" id="city" name="city" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</body>
</html>
